*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, helvetica, sans-serif;
  line-height: 1.4;
}


a{
  text-decoration: none;
}

.App{
  display: flex;
  flex-direction: row;
}


.navigation_container
{
  flex: 1;
}

.container
{
  padding: 0 1rem;
  flex: 12;
}

.btn
{
  display:  inline-block;
  border:  none;
  background:  #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover{
  background:  #666;
}
